.trains {
  font-size: 75%;
  display: inline-block;
  -o-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.trains table {
    width: 450px;
}

.late {
  color: #ff0000;
}

.early {
  color: #55a6e0;
}

.nonews {
  color: #ffffff
}
