.trains {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -moz-transform: translate(0, -3px); /* IE 9 */
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.trains table {
    width: 400px;
}

.trains .red {
    color: #FF0000
}

.trains .green {
    color: #00FF00
}

.trains .blue {
    color: #0000FF
}
